[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = "*"
flake8 = "*"

[packages]
boto3 = "==1.9.120"
Django = "==2.1.7"
django-storages = "==1.7.1"
zappa = "==0.47.1"
zappa-django-utils = "==0.4.0"
manageconf = "*"

[requires]
python_version = "3.6"
